.slides-list-item {
  height: 200px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 10px;
  border-radius: 12px;
}
.active-tab-bg {
  background-color: #dbeafe;
}
.slide-number {
  font-size: 15px;
  margin: 16px 5px 10px 12px;
}
.slide-tab {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-family: 'Bree Serif';
  height: 130px;
  margin: 12px 25px 12px 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-slides/nxt-slides-bg.png');

  background-size: cover;
}
.slide-heading {
  color: #0967d2;
  font-family: 'Bree serif';
  font-size: 28px;
}
.slide-desc {
  color: #334155;
  font-family: 'Bree serif';
  font-size: 18px;
}
