.new {
  color: #0f172a;
  font-family: 'Bree Serif';
  font-size: 17px;
  background-color: #dbeafe;
  border: none;

  padding: 8px 15px 8px 15px;
  margin: 15px 10px 15px 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.plus-icon {
  height: 17px;
  width: 13px;
  margin-right: 5px;
}
